@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
/* remove default margin and padding from body*/
:root {
    --yellowBackground: rgba(255, 250, 155, 0.75);
    --lightUp: 0px 0px 20px #3ffadb;
    --whiteBackground: rgba(255, 255, 254, 0.75);
    --boxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}
/*full body container may not be needed?*/
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/backgroundCabOption4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/*header and nav sections*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13%;
    padding: 0 20px;
}
header h1{
    color: #0e0d0d;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 25px;
    font-size: 2.5rem;
    border: 2px solid #000;
    background: var(--yellowBackground);
    box-shadow: var(--boxShadow);
}
header img:hover{
    cursor: pointer;
    box-shadow: var(--lightUp);
    background-color: #3ffadb;
}.hidden{
    display: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 200px;
    background-color: var(--whiteBackground);
    z-index: 10;
}
header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*main body section*/
main{
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 87%;
    width: 95%;
    grid-gap: 5px;
}
main h2{
    grid-column: 1/5;
    padding: 20px;
    border: 2px solid #000;
    background: var(--yellowBackground);
    box-shadow: var(--boxShadow);
    color: #111;
    font-family: "Monomaniac One";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main .menuSticky{
    grid-column: 12/13;
    background-image: url(images/jumpSticky.svg);
    background-position: top;
    background-repeat: no-repeat;
}
main .menuSticky p{
    text-align: center;
    font-size: .8rem;
    padding-top: 8px;
}
main .nextSticky{
    grid-column: 12/13;
    grid-row: 4/6;
    background-image: url(images/nextSticky.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}
main .nextSticky p{
    text-align: center;
    font-size: .8rem;
    padding-bottom: 10px;
}
main .nextBtn{
    grid-column: 12/13;
    grid-row: 6/7;
}
main .nextBtn button{
    padding: 22px 11px 14px 25px;
    border-radius: 40px;
    border: 2px solid #000;
    background: var(--whiteBackground);
    box-shadow: var(--boxShadow);
    color: #000;
    font-family: "Press Start 2P";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*next button hover*/
main .nextBtn button:hover{
    background: var(--yellowBackground);
    cursor: pointer;
    box-shadow: var(--lightUp);
}
main .backBtn{
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    justify-content: end;
}
main .backBtn button{
    padding: 22px 11px 14px 25px;
    border-radius: 40px;
    border: 2px solid #000;
    background: var(--whiteBackground);
    box-shadow: var(--boxShadow);
    color: #000;
    font-family: "Press Start 2P";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*back button hover*/
main .backBtn button:hover{
    background: var(--yellowBackground);
    cursor: pointer;
    box-shadow: var(--lightUp);
}
main .plansSticky{
    grid-row: 7/9;
    grid-column: 1/3;
    background-image: url(images/plansSticky.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}
main .plansSticky p{
    text-align: center;
    font-size: .8rem;
    padding-bottom: 8px;
}
main .plansBtn{
    grid-row: 9/11;
    grid-column: 1/3;
}
main .plansBtn button{
    display: inline-flex;
    height: 84px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #000;
    background: var(--whiteBackground);
    box-shadow: var(--boxShadow);
    color: #000;
    font-family: "Press Start 2P";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*plans button hover*/
main .plansBtn button:hover{
    background: var(--yellowBackground);
    cursor: pointer;
    box-shadow: var(--lightUp);
}
/*card styles*/
.cardOne{
    overflow: hidden;
    grid-row: 2/7;
    grid-column: 2/7;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    background-image: url(images/jig-saw.webp);
    background-position: center;
    background-size: cover;
}
.cardOne:hover p{
    opacity: 1;

}
.cardOne h2{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    background: var(--whiteBackground);
    width: 30%;
}
.cardOne p{
    opacity: 0;
    background-color: var(--yellowBackground);
    margin-bottom: 0;
    font-family: "Monomaniac One";
    padding: 10px;
    transition: all 1s ease;
}
/*card two styles*/
.cardTwo{
    overflow: hidden;
    grid-row: 2/7;
    grid-column: 7/12;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    background-image: url(images/drill.jpg);
    background-position: center;
    background-size: cover;
}
.cardTwo:hover p{
    opacity: 1;
}
.cardTwo h2{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    background: var(--whiteBackground);
    width: 30%;
}
.cardTwo p{
    opacity: 0;
    background-color: var(--yellowBackground);
    margin-bottom: 0;
    font-family: "Monomaniac One";
    padding: 10px;
    transition: all 1s ease;
}
.cardThree{
    overflow: hidden;
    grid-row: 7/12;
    grid-column: 2/7;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    background-image: url(images/palmsander.jpg);
    background-position: center;
    background-size: cover;
}
.cardThree:hover p{
    opacity: 1;
}
.cardThree h2{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    background: var(--whiteBackground);
    width: 30%;
}
.cardThree p{
    opacity: 0;
    background-color: var(--yellowBackground);
    margin-bottom: 0;
    font-family: "Monomaniac One";
    padding: 10px;
    transition: all 1s ease;
}
.cardFour{
    overflow: hidden;
    grid-row: 7/12;
    grid-column: 7/12;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
    background-image: url(images/tableSaw.jpg);
    background-position: center;
    background-size: cover;
}
.cardFour:hover p{
    opacity: 1;
}
.cardFour h2{
    display: inline-flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #000;
    background: var(--whiteBackground);
    width: 30%;
}
.cardFour p{
    opacity: 0;
    background-color: var(--yellowBackground);
    margin-bottom: 0;
    font-family: "Monomaniac One";
    padding: 10px;
    transition: all 1s ease;
}

/*footer section*/
footer{
    grid-row: 12/13;
    grid-column: 1/13;
    color: #FFF;
    font-family: "Press Start 2P";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer a{
    color: #FFF;
}
footer a:hover{
    color: var(--yellowBackground);
    text-shadow: var(--lightUp);
}
.footer{
    grid-row: 12/13;
    grid-column: 1/13;
    color: #FFF;
    font-family: "Press Start 2P";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer a{
    color: #FFF;
}
.footer a:hover{
    color: var(--yellowBackground);
    text-shadow: var(--lightUp);
}

@media screen and (max-width: 1000px){
    .container{
        height: 100%;
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
    .menuBtn{
        width: 100%;
        display: flex;
        justify-content: end;
    }
    main{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding: 0;
        width: 100%;
    }
    main .menuSticky{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        display: flex;
        justify-content: end;
        background-position-x: right;
    }
    main .menuSticky p{
        margin-right: 8px;
    }
    /*cards*/
    .cardOne{
        grid-row: 1/3;
        grid-column: 1/2;
    }
    .cardTwo{
        grid-row: 3/5;
        grid-column: 1/2;
    }
    .cardThree{
        grid-row: 5/7;
        grid-column: 1/2;
    }
    .cardFour{
        grid-row: 7/9;
        grid-column: 1/2;
    }
    main h2{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    main .nextSticky{
        display: none;
    }
    main .nextBtn{
        display: none;
    }
    main .backBtn{
        display: none;
    }
    main .plansSticky{
        grid-row: 3/4;
        grid-column: 1/2;

    }
    main .plansBtn{
        grid-row: 4/5;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
    }
    main footer{
        grid-row: 5/6;
        grid-column: 1/2;
        margin-left: 10px;
    }
    main .footer{
        grid-row: 9/10;
        grid-column: 1/2;
        margin-left: 10px;
    }
}
