@import "./variables";
@import "./mixins";
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13%;
    padding: 0 20px;

    h1{
        color: #0e0d0d;
        font-family: 'Press Start 2P', cursive;
        margin: 0;
        padding: 25px;
        font-size: 2.5rem;
        border: 2px solid #000;
        background: $yellowBackground;
        box-shadow: $boxShadow;
    }

    /*menu button*/
    img{
        &:hover{
        cursor: pointer;
        box-shadow: $lightUp;
        background-color: #3ffadb;
        }
    }
    .hidden{
        display: none;
    }
    /*header and nav sections*/
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 500px;
        width: 200px;
        background-color: $whiteBackground;
        z-index: 10;



        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            list-style: none;
            margin: 0;
            padding: 0;
        }

    }
}